<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Edit Product</title>
</head>
<body>
<form action="#" method="post" th:action="@{/products/edit}" th:object="${product}">
    <input type="text" readonly th:field="*{id}">
    <input type="text" th:field="*{name}" placeholder="name">
    <input type="text" th:field="*{category}" placeholder="category">
    <button type="submit">Update</button>
</form>
</body>
</html>
